*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Anton', sans-serif;
}

html{
    background-color: #030303;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #0c0c0c;
    -webkit-font-smoothing: antialiased;

    font-size: x-large;
    text-align: center;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
